/*
    对elemtui样式中全局修改
*/
.el-dropdown-menu__item:not(.is-disabled):focus {
    color: var(--rose-p);
}

.el-button--primary {
    background-color: var(--rose-p) !important;
    border-color: var(--rose-p) !important;
}

.el-menu{
    border:0;
}