//公共的样式
:root{



    
}
//flex居中
.rose-f-c{
    display: flex;
    justify-content: center;
    align-items: center;
}
//flex方向确定
.rose-f-row{
    display: flex;
    flex-direction: row;
}
.rose-f-column{
    display: flex;
    flex-direction: column;
}
.rose-f-1{
    flex: 1;
}
.rose-w-h-100{
    width: 100%;
    height: 100%;
}
.rose-f1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rose-f2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}